.Home {
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container input {
  width: 30%;
}
.container select {
  width: 20%;
  margin: 0 10px;
}
.searchBar {
  width: 35%;
  padding: 20px 0px;
}

.location {
}

.searchInput {
  outline: none;
  border: 1px solid #aaa;
}

.searchBtn {
  outline: none;
  border: 1px solid #aaa;
}

.doctorList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

@media (max-width: 600px) {
  .doctorList {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    flex-direction: column;
    margin: 10px 0 20px 0;
    align-items: center;
  }
  .container input {
    width: 80%;
    margin-bottom: 10px;
  }
  .container select {
    width: 80%;
    margin-bottom: 10px;
  }
}
