.enroll-earn-text {
  opacity: 0.7;
  font-size: 14px;
  color: #fff;
  margin-bottom: 16px;
}
.enroll-earn-wrapper {
  margin-right: 13px;
}
.enroll-earn-container {
  background: #2e3042;
  padding: 9px 9px 18px;
  position: relative;
  border-radius: 4px;
}
.enroll-earn-container img {
  width: 100%;
}
.enroll-earn-upgrade-container {
  color: #fff;
  bottom: 8px;
  position: relative;
}
.enroll-earn-upgrade {
  display: flex;
  align-items: center;
  background: #3e4152;
  padding: 9px 16px 11px;
  border-radius: 4px;
  font-size: 12px;
}
.enroll-earn-upgrade img {
  width: 24px;
  height: 24px;
}
.enroll-earn-upgrade p {
  margin: 0;
  margin-left: 6px;
}
